{
  "enableBlocking": true,
  "blockAsNxDomain": false,
  "blockListUrlUpdateIntervalHours": 24,
  "blockingAddresses": [
    "0.0.0.0",
    "::"
  ],
  "blockListUrlGroups": {
    "default": [
    ],
    "everyone": [
      "https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts"
    ],
    "kids": [
      "https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/social/hosts",
      "https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/porn/hosts"
    ]
  },
  "networkGroupMap": {
    "192.168.1.20": "kids",
    "192.168.1.0/24": "everyone"
  }
}