{
  "sinks":{
      "maxQueueSize": 1000000,
      "enableEdnsLogging": false,
      "console": {
        "enabled": true
      },
      "file": {
        "path": "./dns_logs.json",
        "enabled": false
      },
      "http": {
        "endpoint": "http://localhost:5000/logs",
        "headers": {
          "Authorization": "Bearer abc123"
        },
        "enabled": false
      },
      "syslog": {
        "address": "127.0.0.1",
        "port": 514,
        "protocol": "UDP",
        "enabled": false
      }
  },
  "pipeline": {
      "normalize": {
        "enabled": true
      },
      "tagging":{
          "enabled": false,
          "tags": [ "tenant:alpha" ]
      }
  }
}