{
  "enableOverride": true,
  "defaultTtl": 300,
  "domainSetMap": {
    "*": ["set1"],
    "example.com": ["set1", "set2"]
  },
  "sets": [
    {
      "name": "set1",
      "addresses": [
        "192.168.10.1"
      ]
    },
    {
      "name": "set2",
      "addresses": [
        "1.2.3.4",
        "5.6.7.8"
      ]
    }
  ]
}
