{
  "healthChecks": [
    {
      "name": "ping",
      "type": "ping",
      "interval": 60,
      "retries": 3,
      "timeout": 10,
      "emailAlert": "default",
      "webHook": "default"
    },
    {
      "name": "tcp80",
      "type": "tcp",
      "interval": 60,
      "retries": 3,
      "timeout": 10,
      "port": 80,
      "emailAlert": "default",
      "webHook": "default"
    },
    {
      "name": "tcp443",
      "type": "tcp",
      "interval": 60,
      "retries": 3,
      "timeout": 10,
      "port": 443,
      "emailAlert": "default",
      "webHook": "default"
    },
    {
      "name": "http",
      "type": "http",
      "interval": 60,
      "retries": 3,
      "timeout": 10,
      "url": null,
      "emailAlert": "default",
      "webHook": "default"
    },
    {
      "name": "https",
      "type": "https",
      "interval": 60,
      "retries": 3,
      "timeout": 10,
      "url": null,
      "emailAlert": "default",
      "webHook": "default"
    },
    {
      "name": "www.example.com",
      "type": "https",
      "interval": 60,
      "retries": 3,
      "timeout": 10,
      "url": "https://www.example.com",
      "emailAlert": "default",
      "webHook": "default"
    }
  ],
  "emailAlerts": [
    {
      "name": "default",
      "enabled": false,
      "alertTo": [
        "admin@example.com"
      ],
      "smtpServer": "smtp.example.com",
      "smtpPort": 465,
      "startTls": false,
      "smtpOverTls": true,
      "username": "alerts@example.com",
      "password": "password",
      "mailFrom": "alerts@example.com",
      "mailFromName": "DNS Server Alert"
    }
  ],
  "webHooks": [
    {
      "name": "default",
      "enabled": false,
      "urls": [
        "https://webhooks.example.com/default"
      ]
    }
  ],
  "underMaintenance": [
    {
      "network": "192.168.10.2/32",
      "enabled": false
    },
    {
      "network": "10.1.1.0/24",
      "enabled": false
    }
  ]
}