[Unit]
Description=Technitium DNS Server

[Service]
WorkingDirectory=/etc/dns
ExecStart=/usr/bin/dotnet /etc/dns/DnsServerApp.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dns-server

[Install]
WantedBy=multi-user.target
