{
  "enableDefaultRecords": false,
  "defaultTtl": 3600,
  "zoneSetMap": {
    "*": ["set1"],
    "*.net": ["set2"],
    "example.org": ["set1", "set2"]
  },
  "sets": [
    {
      "name": "set1",
      "enable": true,
      "records": [
        "@ 3600 IN MX 10 mail.example.com.",
        "@ 3600 IN TXT \"v=spf1 a mx -all\""
      ]
    },
    {
      "name": "set2",
      "enable": true,
      "records": [
        "www 3600 IN CNAME @",
        "@ 3600 IN A 1.2.3.4"
      ]
    }
  ]
}