{
  "enableBlocking": true,
  "blockAsNxDomain": false,
  "blockListUrlUpdateIntervalHours": 24,
  "blockingAddresses": [
    "0.0.0.0",
    "::"
  ],
  "networkGroupMap": {
    "192.168.1.20": "kids",
    "192.168.1.0/24": "home"
  },
  "groups": [
    {
      "name": "home",
      "enabled": true,
      "allowed": [],
      "blocked": [
        "example.com"
      ],
      "allowListUrls": [],
      "blockListUrls": [
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts"
      ],
      "allowedRegex": [],
      "blockedRegex": [
        "^ads\\."
      ],
      "regexAllowListUrls": [],
      "regexBlockListUrls": [
        "http://localhost:5380/RegexBlockList.txt"
      ]
    },
    {
      "name": "kids",
      "enabled": true,
      "allowed": [],
      "blocked": [],
      "allowListUrls": [],
      "blockListUrls": [
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/social/hosts"
      ],
      "allowedRegex": [],
      "blockedRegex": [],
      "regexAllowListUrls": [],
      "regexBlockListUrls": []
    }
  ]
}