
html, body {
    height: 100% !important;
}

body {
    margin: 0px !important;
    line-height: 1.42857143 !important;
}

a {
    color: #6699ff !important;
}

    a:hover {
        color: #6699ff !important;
    }

#header {
    background-color: #6699ff;
    height: 32px;
    margin-bottom: -32px;
    box-shadow: 0px 1px 15px 0px #888888;
    width: 100%;
}

    #header .title {
        margin: 0 auto;
        color: #ffffff;
        padding: 0px 15px 0px 15px;
    }

        #header .title img {
            vertical-align: text-bottom;
        }

        #header .title .text {
            font-size: 24px;
            font-weight: 600;
            font-family: Arial;
            margin-left: 4px;
        }


#content {
    min-height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 15px 85px 15px;
    word-wrap: break-word;
}

.auto-resize-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 640px;
    max-height: 480px;
}

    .center-iframe iframe {
        width: 100%;
        height: 100%;
    }

#footer {
    background-color: rgb(243, 243, 243);
    padding: 20px 0px 20px 0px;
    margin-top: -55px;
    box-shadow: 0px 2px 15px 1px #888888;
    clear: both;
    position: relative;
    height: 55px;
}

    #footer .content {
        margin: 0 auto;
        color: rgb(119,119,119);
        font-family: Arial, sans-serif;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
    }

        #footer .content a {
            color: rgb(119,119,119);
            text-decoration: none;
        }

            #footer .content a:hover {
                color: #6699ff;
            }

@media (min-width: 768px) {
    #header .title, .container, #footer .content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #header .title, .container, #footer .content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #header .title, .container, #footer .content {
        width: 1170px;
    }
}

.form-inline .form-group {
    margin-right: 10px;
    margin-bottom: 15px;
}
