{
  "appPreference": 200,
  "enableForwarding": true,
  "proxyServers": [
    {
      "name": "local-proxy",
      "type": "socks5",
      "proxyAddress": "localhost",
      "proxyPort": 1080,
      "proxyUsername": null,
      "proxyPassword": null
    }
  ],
  "forwarders": [
    {
      "name": "quad9-doh",
      "proxy": null,
      "dnssecValidation": true,
      "forwarderProtocol": "Https",
      "forwarderAddresses": [
        "https://dns.quad9.net/dns-query (9.9.9.9)"
      ]
    },
    {
      "name": "cloudflare-google",
      "proxy": null,
      "dnssecValidation": true,
      "forwarderProtocol": "Tls",
      "forwarderAddresses": [
        "1.1.1.1",
        "8.8.8.8"
      ]
    },
    {
      "name": "quad9-tls-proxied",
      "proxy": "local-proxy",
      "dnssecValidation": true,
      "forwarderProtocol": "Tls",
      "forwarderAddresses": [
        "9.9.9.9"
      ]
    }
  ],
  "networkGroupMap": {
    "0.0.0.0/0": "everyone",
    "[::]/0": "everyone"
  },
  "groups": [
    {
      "name": "everyone",
      "enableForwarding": true,
      "forwardings": [
        {
          "forwarders": [
            "quad9-doh"
          ],
          "domains": [
            "example.com"
          ]
        },
        {
          "forwarders": [
            "cloudflare-google"
          ],
          "domains": [
            "*"
          ]
        }
      ],
      "adguardUpstreams": [
        {
          "proxy": null,
          "dnssecValidation": true,
          "configFile": "adguard-upstreams.txt"
        }
      ]
    }
  ]
}
