{
  "enabled": true,
  "rules": [
    {
      "pattern": "example.com",
      "includeNetworks": ["0.0.0.0/0", "::/0"],
      "excludeNetworks": ["10.0.0.0/8"],
      "splitNetworks": [
        { "network": "10.0.0.0/8", "samePrefix": 16 }
      ]
    },
    {
      "pattern": "*.example.com",
      "includeNetworks": ["0.0.0.0/0", "::/0"],
      "excludeNetworks": ["10.0.0.0/8"],
      "splitNetworks": [
        { "network": "10.0.0.0/8", "samePrefix": 16 }
      ]
    },
    {
      "pattern": "internal.example.com",
      "includeNetworks": ["10.0.0.0/8"],
      "splitNetworks": [
        { "network": "10.0.0.0/8", "samePrefix": 16 }
      ]
    },
    {
      "pattern": "dmz.example.com",
      "includeNetworks": ["192.168.0.0/16", "10.0.0.0/8"],
      "excludeNetworks": ["192.168.50.0/24"],
      "splitNetworks": [
        { "network": "192.168.0.0/16", "samePrefix": 24 }
      ]
    },
    {
      "pattern": "*",
      "splitNetworks": [
        { "network": "10.0.0.0/8",  "samePrefix": 16 },
        { "network": "192.168.0.0/16", "samePrefix": 24 }
      ]
    }
  ]
}