name: "Technitium CI-CD"

on:
  push:
    branches:
      - master

jobs:
  librairies-build:
    name: "Building Technitium Libraries"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: TechnitiumSoftware/TechnitiumLibrary
      - name: "Build the librairies"
        run: |
          ls
          pwd
          dotnet build TechnitiumLibrary/TechnitiumLibrary.ByteTree/TechnitiumLibrary.ByteTree.csproj -c Release
          dotnet build TechnitiumLibrary/TechnitiumLibrary.Net/TechnitiumLibrary.Net.csproj -c Release
          dotnet build TechnitiumLibrary/TechnitiumLibrary.Security.OTP/TechnitiumLibrary.Security.OTP.csproj -c Release
  
  application-build:
    name: "Build the Technitium application"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}
      - name: "Build the app"
        run: |
          ls
          pwd
          dotnet publish DnsServer/DnsServerApp/DnsServerApp.csproj -c Release

  docker-image-build-and-push:
    name: "Build and Push Docker Image"
    runs-on: ubuntu-latest
    env:
      registry_user: elspan
    steps:
      - name: "Push the image to the GHCR"
        run: |
          ls
          pwd
          docker login --username $registry_user --password ${{ secrets.GHCR_PAT }} ghcr.io
          docker build DnsServer --tag ghcr.io/$registry_user/technitium:latest
          docker push ghcr.io/$registry_user/technitium:latest
      - name: "Push the image to the DockerHub"
        run: |
          docker login --username $registry_user --password ${{ secrets.DOCKER_HUB_PAT }}
          docker build DnsServer --tag $registry_user/technitium:latest
          docker push $registry_user/technitium:latest
