name: "Technitium CI-CD"

on:
  push:
    branches:
      - master

jobs:
  main:
    name: "Building the APP and pushing it to GHCR and the DockerHub"
    runs-on: ubuntu-latest
    env:
      registry_user: elspan
    steps:
      - uses: actions/checkout@v6
        with:
          repository: TechnitiumSoftware/TechnitiumLibrary
          path: TechnitiumLibrary
      - name: "Build the librairies"
        run: |
          dotnet build TechnitiumLibrary/TechnitiumLibrary.ByteTree/TechnitiumLibrary.ByteTree.csproj -c Release
          dotnet build TechnitiumLibrary/TechnitiumLibrary.Net/TechnitiumLibrary.Net.csproj -c Release
          dotnet build TechnitiumLibrary/TechnitiumLibrary.Security.OTP/TechnitiumLibrary.Security.OTP.csproj -c Release
      - uses: actions/checkout@v6
      - name: "Build the app"
        run: |
          dotnet publish DnsServer/DnsServerApp/DnsServerApp.csproj -c Release
      - name: "Push the image to the GHCR"
        run: |
          docker login --username $registry_user --password ${{ secrets.GHCR_PAT }} ghcr.io
          docker build DnsServer --tag ghcr.io/$registry_user/technitium:latest
          docker push ghcr.io/$registry_user/technitium:latest
      - name: "Push the image to the DockerHub"
        run: |
          docker login --username $registry_user --password ${{ secrets.DOCKER_HUB_PAT }}
          docker build DnsServer --tag $registry_user/technitium:latest
          docker push $registry_user/technitium:latest
