name: "Build latest containers"

on:
  push:
    branches:
      - master

jobs:
  main:
    name: "Building the portable application and pushing it to GHCR and the DockerHub"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: DnsServer
      - uses: actions/checkout@v6
        with:
          path: TechnitiumLibrary
          repository: TechnitiumSoftware/TechnitiumLibrary

      - name: "Building the librairies"
        run: |
          dotnet build TechnitiumLibrary/TechnitiumLibrary.ByteTree/TechnitiumLibrary.ByteTree.csproj -c Release
          dotnet build TechnitiumLibrary/TechnitiumLibrary.Net/TechnitiumLibrary.Net.csproj -c Release
          dotnet build TechnitiumLibrary/TechnitiumLibrary.Security.OTP/TechnitiumLibrary.Security.OTP.csproj -c Release
      - name: "Building the app"
        run: |
          dotnet publish DnsServer/DnsServerApp/DnsServerApp.csproj -c Release

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: technitium
          password: ${{ secrets.GHCR_PAT }}

      - name: Building and pushing the image to GHCR
        uses: docker/build-push-action@v6
        with:
          context: DnsServer
          push: true
          tags: ghcr.io/technitium/dns-server:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: technitium
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Building and pushing the image to the Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: DnsServer
          push: true
          tags: technitium/dns-server:latest